
<footer style="background-color:#fff; color: #000; padding: 10px; text-align: center;">

    <!-- Creator Section -->
    <div class="ft-style" style="margin-bottom: 20px;">
        <h4>About the Creators</h4>
        <h6><b>Team: Bits of SAND</b></h6>
        <p><em>Sachin</em> - Backend and database management &nbsp;&nbsp;&nbsp;&nbsp; <em>Narendra</em> - Frontend and js features</p>
        <p></p>
        <p><em>Darshan</em> - Frontend and project ideation &nbsp;&nbsp;&nbsp;&nbsp; <em>Anirudh</em> - Frontend and project ideation</p>
        <p></p>
    </div>
<hr>
    <div>
        <h5>Connect with Us</h5>
    <section class="ft-social">
        <ul class="ft-social-list">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </section>
</div>
    <section class="ft-legal">
        <ul class="ft-legal-list">
            <li>&copy; 2019 Copyright, Campus Connect.</li>
        </ul>
    </section>
</footer>