<hr>
<footer style="background-color:#fff; color: #000; padding: 10px; text-align: center;">

    <!-- Creator Section -->
    <div style="margin-bottom: 20px;">
        <h4>About the Creator</h4>
        <p><b>Sachin</b> - Backend developer and database management</p>
        <p><b>Narendra</b> - Backend developer and database management</p>
        <p><b>Darshan</b> - Backend developer and database management</p>
        <p><b>Anirudh</b> - Backend developer and database management</p>
    </div>
<hr>
    <div>
        <h5>Connect with Us</h5>
    

    <!-- Footer social -->
    <section class="ft-social">
        <ul class="ft-social-list">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>

        </ul>
    </section>
</div>
    <!-- Footer legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
            <li>&copy; 2019 Copyright, Campus Connect.</li>
        </ul>
    </section>
</footer>