<header class="header">
        <!-- <a href="#" class="logo"><i class="fas fa-heartbeat"></i> Mental Health <span>Oasis</span></a> -->
        <div class="Logo">
            <img src="inclusion.png" alt="" class="inclusion">
        <h2 class="logo" style="color: #023e8a;">Campus Connect</h2>
        </div>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="">Resources</a>
            <a href="#about">About Us</a>
            <a href="">Partners</a>
            <!-- <a href="./books.html">Books</a>
            <a href="#services">OurServices</a>
            <a href="#blogs">Blogs</a>
            <a href="./reviews.html">Reviews</a> -->
            <a href="./signin.html" id="login">Login <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>
</header>