<% layout("layout/boilerplate")%>

    <body>
        <div class="event-timer">
            <h3>Next Event In</h3>
            <ul class="time">
                <li id="day"></li>
                <li id="hours"></li>
                <li id="mins"></li>
                <li id="secs"></li>
            </ul>
            <ul class="tags">
                <li>Days</li>
                <li>Hours</li>
                <li>mins</li>
                <li>secs</li>
            </ul>
        </div>
        <div class="calendar">
            <div class="month">
                <h2 id="month"></h2>
            </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days" id="days"></div>
        </div>
    </body>