<% layout("layout/boilerplate")%>

<div class="card-container row row-cols-xl-4 offset-2 row-cols-lg-3  row-cols-md-2  row-cols-1 mb-3 mt-3 ms-3 me-3">
    
        <%for(list of arrList){%>
            <a href="/event/<%=list._id%>" class="col index-event">
                <div class="card" style="width: 17rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%=list.title%></h5>
                        <p class="card-text"><%=list.description%></p>
                        
                    </div>
                </div>    
            </a>
            
            <%}%>
   
</div>
    </ul>