body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex:1;
}

.navbar{
    background-color: white;
    height: 5rem;
    z-index: 1221;
}
.container-fluid{
    background-color: #f8f9fa;
}

.nav-link{
    color: black !important;
}



.index-event{
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    
}
.index-event .card{
    height: 180px;
}
