body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex:1;
}

.navbar{
    background-color: white;
    height: 5rem;
    z-index: 1221;
}
.container-fluid{
    background-color: #f8f9fa;
}

.nav-link{
    color: black !important;
}



.index-event{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    
}
.index-event .card{
    height: 23  0px;
}

nav{
    border-bottom: 1px solid rgba(128, 128, 128, 0.543);
}
footer{
    border-top: 1px solid rgba(128, 128, 128, 0.454);
}

.dash-btns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-btns a{
    margin-bottom:10px ;
}

.dashboard-card {
    border-top: 0;
    border-bottom: 0;
}

.pastCtUser{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px ;
}